* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

h1 {
    position: sticky;
    top: 0;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}

#add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}