* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid brown;
    background-color: black;
    font-size: x-small;
    color: white;
}

/* .user{
    font-size: 22px;
    color: white;
} */

header button {
    height: max-content;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(29, 239, 82);
    color: rgb(0, 0, 0);
    padding: 4px 12px;
    font-weight: bold;
    box-shadow: 0px 0px 15px white;
}

.allPosts {
    padding-top: 20px;
    width: 80vw;
    margin: auto;
}

.allPosts h3 {
    text-align: center;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    flex-grow: 1;
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.341);
    border-radius: 8px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul li:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 5px black;
}

ul li h4 {
    cursor: pointer;

}

ul button {
    cursor: pointer;
    background-color: green;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 4px;
    color: white;
}
ul button:hover{
    transform: scale(1.1);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.overlayView,
.overlayEditView {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(141, 131, 131, 0.478);
}

.content {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 40vw;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    height: 5vh;
}

form button {
    width: max-content;
    margin: auto;
}









